.Background{
  position: fixed;
    width: 100%;
    height: 100vh;
    background-color: crimson;
    background-image: url(https://img.freepik.com/free-photo/shimmery-gold-stars-background-kids_53876-104028.jpg?w=740&t=st=1691560283~exp=1691560883~hmac=b22052e01aa971f457515263ad1ec9e5d62211ab1befdd3b6729a6d694a38ca0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.WholeDataHolder{
    position: absolute;
    width: 60%;
    height: 80vh;
    display: flex;

}
.OneBabyData{
    width:50% ;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    /* background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%); */

    background-image: url(https://img.freepik.com/free-vector/pink-background-with-white-hearts-lines_1108-136.jpg?w=740&t=st=1691560198~exp=1691560798~hmac=fa79ee56f8ed68c19d5b3ae38c0f541e6c771213cfbe0c289c3fd1470850797b);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 10px 28px 45px -21px rgba(0,0,0,0.58);
    -moz-box-shadow: 10px 28px 45px -21px rgba(0,0,0,0.58);
    box-shadow: 10px 28px 45px -21px rgba(0,0,0,0.58);
}
.FullList{
    width:50% ;
    height: 100%;
    background-color: #ffe6f1;
    color: rgb(0, 0, 0);
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #a0a0a0 #f0f0f0; 
    -webkit-box-shadow: 10px 28px 45px -21px rgba(0,0,0,0.58);
    -moz-box-shadow: 10px 28px 45px -21px rgba(0,0,0,0.58);
    box-shadow: 10px 28px 45px -21px rgba(0,0,0,0.58);

}
 
  /* Customizing the scrollbar thumb */
  .FullList::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .FullList::-webkit-scrollbar-track {
    background: #f0f0f0; /* Background color of the scrollbar track */
  }
  
  .FullList::-webkit-scrollbar-thumb {
    background-color: #555555; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners of the scrollbar thumb */
  }
  
  /* Hide default IE scrollbar */
  .content {
    scrollbar-width: thin; /* For IE 10+ */
    -ms-overflow-style: none; /* For IE 10+ */
  }
  
  .content::-webkit-scrollbar {
    display: none; /* For Safari and newer Chrome versions */
  }
.BabyImgHolder{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 60%;
    position: relative;
    background-color: chocolate;
    overflow: hidden;
}
.BabyImg{
    width:auto;
    height: 100%;

}
.babyData1{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-transform: uppercase;
}
.BabyName{
    margin-top: 20px;
    color: black;
}
.VoteCount{
    width: 100%;
    height: 60px;

    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.BabyListmain{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 13px;
}
.BabyList{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 18px;
}
.BabyListData{

   width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    margin-top: 20px;
  
}
.LinkImgHolder{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;

}
.linkImg{
  width: auto;
  height: 100%;

}

@media (max-width: 800px) {


  .WholeDataHolder{
    width: 90%;
    height:auto;
    padding-bottom: 40px;
   flex-direction: column;
   /* margin-top: 200px; */
   align-items: center;

}

  .OneBabyData{
    width: 100%;
    height:350px;
   
  }

  .BabyName{
    font-size: 15px;
    margin-top: 10px;
}
.VoteCount{
  margin-top: 20px;
font-size: 13px;  
}
.FullList{
  width:100% ;
  height: auto;
  padding-bottom: 20px;

}
  /* Customizing the scrollbar thumb */
  .FullList::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
  }

  
}